<%- include('includes/_header.ejs') %>

<a class="button is-primary" href="/personajes/agregar">agregar personaje</a>

<% for (let personaje of personajes) { %>
    <div class="card">
        <div class="card-content">
            <p class="title">
                <%= personaje.nombre %>
            </p>
        </div>
    </div>
<% } %>

<a class="button is-primary" href="/personajes/agregar">agregar personaje</a>

<%- include('includes/_footer.ejs') %>