<%- include('includes/_header.ejs') %>

<a class="button is-primary" href="/personajes/agregar">agregar personaje</a>

<% for (let personaje of personajes) { %>
    <div class="card">
        <div class="card-content">
            <p class="title">
                <%= personaje.nombre %>
            </p>
        </div>
    </div>
<% } %>

<a class="button is-primary" href="/personajes/agregar">agregar personaje</a>

<strong>¿Qué beneficios encuentras en el estilo MVC?</strong>
<p>
    Los beneficios que encuentro al momento, es que ya tienes modelado la funcionalidad desde el inicio lo que hace desde ese momento del modelado lo puedas corregir <br>
    esto te puede llegar a ahorrar mucho tiempo, ya que si no lo modelaras y te pusieras a programar desde 0 te encontrarias con varias cosas en el proceso y estarias <br>
    cambiando de lugar varias funcionalidades que en el modelado del MVC lo pudiste haber hecho desde antes, además de que asi lo tienes todo divido en capas y hace <br>
    el trabajo en equipo mas facil
</p>

<strong>¿Encuentras alguna desventaja en el estilo arquitectónico MVC?</strong>
<p>
    -Que si generas un error te puedes tardar un poco encontrandolo ya que esta divido en varias capas, pero si sabes lo que estas haciendo no te deberias tanto en encontrar el error <br>
    -Se crean varios archivos y carpetas, pero si entiendes MVC no te deberia de costar navegar entre los archivos y funcionalidades que agregues
</p>

<%- include('includes/_footer.ejs') %>