<%- include('includes/_header.ejs')%>
<p><strong>¿Qué otros templating engines existen para node?</strong></p>
<p>Otros templating engines que existen para node, los más famosos son "pug" y "handlebars", los cuales son maravillosos para agregar nuevas funcionalidades a tu aplicacion <br>
   pero necesitas aprender su sintaxis, lo que no es problema pero en el caso del proyecto si lo es, ya que no tenemos tanto tiempo para aprender node con express y aparte pug o handlebars <br>
</p>
<%- include('includes/_footer.ejs')%>