<div class="columns">
  <div class="column">
    <form action="/niveles/agregar" method="POST">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
      <label for="nombre" class="label">Nivel</label>
      <input
        class="input is-primary"
        type="text"
        placeholder="Cheewbaca"
        id="nivel"
        name="nivel"
        required
      />
      <br><br>
      <input type="submit" id="boton_personaje" class="button is-primary" value="Guardar nivel">
    </form>
  </div>
</div>